@import url("../fonts/Blender_Pro/stylesheet.css");
html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    background-color: #F5EE00;
    background-image: url("../img/YellowAndGreyLogin_FHD_s.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2rem;
    font-family: "Blender Pro", sans-serif;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 12.4rem auto 40%;
    grid-template-rows: 7rem auto 7% 16%;
    grid-template-areas: "start GreyCol overLoginCol" "start GreyCol loginCol" "start none warning";
}

p {
    margin: 0;
}

.loginPageGrey {
    display: flex;
    justify-content: flex-start;
    font-size: 6.4rem;
    grid-column-start: GreyCol;
}

.loginPageGrey p {
    /* margin-left: 12.4rem; */
    color: #00F0FF;
    font-family: "Blender Pro", sans-serif;
}

.loginBlock {
    grid-area: loginCol;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: bold;
}

.registrationBlock p {
    font-size: 2.4rem;
    font-weight: 700;
}

.registrationBlock a {
    text-decoration: none;
    color: #FF003C;
}

.warningBlock {
    margin-top: 8rem;
    grid-area: warning;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 1.6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.warningBlock b {
    color: #FF003C;
}

.entrance {
    margin-top: 0;
    font-weight: 700;
    font-size: 6.4rem;
}

.loginArea input,
.passwordArea input {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 0.2rem black solid;
    font-size: 2.4rem;
    margin-top: 3rem;
}

.loginArea input::placeholder,
.passwordArea input::placeholder {
    font-family: "Blender Pro", sans-serif;
    font-weight: 700;
    color: black;
}

.loginButtom input {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-left: 11rem;
    padding-right: 11rem;
    border: 0rem;
    font-family: "Blender Pro", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
    background: url("../img/Red_buttom_SVG.svg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: auto;
    cursor: pointer;
}